MSF_CLIENT_ID=
MSF_API_KEY=
MSF_REDIRECT_URI=http://localhost:8000/oauth/callback
# MSF_REQUEST_TIMEOUT=30
# MSF_API_BASE_URL=https://api.marvelstrikeforce.com
# MSF_OAUTH_BASE_URL=https://hydra-public.prod.m3.scopelypv.com/oauth2
